@import "../../../common/styles/sass/variables.module";
@import "../../../common/styles/sass/mixins.module";

.card {
  width: 450px;
  padding: 30px 50px;
  border-radius: 10px;
  background-color: $primaryBgColor;
  filter: drop-shadow(10px 0 20px #000);
  @include flex(space-between, center, unset);
  transition: ease-out 0.3s;
  @media screen and (max-width: 1847px) {
    width: 410px;
    @media (max-width: 1697px) {
      width: 380px;
    }
    @media (max-width: 1544px) {
      width: 340px;
      padding: 30px 35px;
      filter: drop-shadow(10px 0 15px #000);
    }
    @media (max-width: 1394px) {
      width: 300px;
      padding: 20px 25px;
    }
    @media (max-width: 1244px) {
      width: 270px;
    }
    @media (max-width: 635px) {
      width: 300px;
      filter: drop-shadow(5px 0 10px #000);
    }
  }

  &:hover {
    filter: drop-shadow(0 0 2px #000);
  }

  .cardTitle {
    font-size: 30px;
    position: relative;
    @media screen and (max-width: 1697px) {
      font-size: 25px;
      @media (max-width: 1394px) {
        font-size: 20px;
      }
      @media (max-width: 1024px) {
        font-size: 18px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: $accentColor;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
      transform: scaleX(0);
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}