@import "../../common/styles/sass/variables.module";
@import "../../common/styles/sass/mixins.module";

.projects {
  color: #fff;
  background-color: #2d2e32;
  height: 100vh;
  @media screen and (max-width: 1312px) {
    height: unset;
  }

  .container {
    @include container();
    padding: 60px 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (max-width: 1366px) {
      padding: 30px 0;
    }


    .subtitle {
      max-width: 600px;
      margin-bottom: 40px;
      color: #9797a1;
      font-size: 18px;
      line-height: 30px;
      @media screen and (max-width: 1366px) {
        margin-bottom: 25px;
        @media (max-width: 1280px) {
          margin-bottom: 20px;
        }
        @media (max-width: 1024px) {
          font-size: 16px;
        }
      }
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 60px;
      @media screen and (max-width: 1366px) {
        margin-bottom: 25px;
        @media screen and (max-width: 1312px) {
          justify-content: space-around;
          gap: 2rem;
          margin-bottom: 35px
        }
      }
    }

    .info {
      max-width: 550px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @media screen and (max-width: 1024px) {
        max-width: 500px;
        @media (max-width: 603px) {
          align-items: center;
        }
      }

      .extra {
        color: #9797a1;
        font-size: 18px;
        line-height: 30px;
        @media screen and (max-width: 1024px) {
          font-size: 16px;
        }
      }

      .email {
        color: #fff;
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        transition: ease-out 0.3s;
        @media screen and (max-width: 1312px) {
          display: none
        }

        &:hover {
          color: #ee6192;
        }
      }
    }
  }
}