@import "../../common/styles/sass/variables.module";
@import "../../common/styles/sass/mixins.module";

.main {
  background-color: #2d2e32;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .mainTitle {
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
    @media screen and (max-width: 1600px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 1487px) {
      font-size: 45px;
    }
    @media screen and (max-width: 1428px) {
      margin-top: 80px;
    }
    @media screen and (max-width: 1366px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 1232px) {
      font-size: 40px;
      margin-top: 10px;
    }

  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include container();

    .left {
      width: 65%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 250px;
      @media screen and (max-width: 1763px){
        width: 75%;
      }
      @media screen and (max-width: 1721px){
        width: 80%;
      }
      @media screen and (max-width: 1332px){
        margin-bottom: 200px;
        width: 90%;
      }


      .subtitle {
        padding: 10px 20px;
        color: #000;
        font-weight: 600;
        background-color: #ee6192;
        border-radius: 18px;
      }

      .title {
        font-size: 40px;
        padding: 30px 0;
        @media screen and (max-width: 1589px){
          font-size: 35px;
        }
        @media screen and (max-width: 1487px) {
          font-size: 32px;
        }
        @media screen and (max-width: 1232px) {
          font-size: 27px;
        }
      }

      .info {
        color: #9797a1;
      }

      .links {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        a {
          text-decoration: none;
          letter-spacing: 1px;
          font-size: 25px;
          color: #ee6192;
          text-transform: uppercase;
          background: none;
          outline: none;
          border: none;
          border-bottom: 2px solid #ee6192;
          @media screen and (max-width: 1487px) {
            font-size: 20px;
          }

          &:hover {
            color: #fff;
            border-bottom: 2px solid #fff;
          }
        }
      }


    }

    .right {
      position: relative;

      .hero {
        width: 647px;
        height: 775px;
        position: relative;
        z-index: 3;
        background-image: url("../../images/hero.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        @media screen and (max-width: 1428px) {
          align-self: flex-end;
          width: 545px;
          height: 650px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 45%;
        left: 51%;
        transform: translate(-50%, -50%);
        background: linear-gradient(
                        135deg,
                        #28292b 20%,
                        #292a2e 40%,
                        #2a2b2f 60%,
                        #2b2c30 80%,
                        #2b2c2e 100%);
        border-radius: 50%;
        height: 600px;
        width: 600px;
        z-index: 0;
        @media screen and (max-width: 1428px) {
          height: 480px;
          width: 480px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 40%;
        right: 0;
        background: #ee6192;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        z-index: 2;
      }

      .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #25262a;
        filter: drop-shadow(-20px 20px 20px rgba(0, 0, 0, 0.534));
      }

      .react {
        position: absolute;
        width: 140px;
        height: 140px;
        bottom: 375px;
        left: 45px;
        z-index: 4;
        @media screen and (max-width: 1428px) {
          height: 125px;
          width: 125px;
          bottom: 300px;
          left: 40px;
        }
        @media screen and (max-width: 1024px) {
          width: 100px;
          height: 100px;
        }
        @media screen and (max-width: 768px) {
          width: 70px;
          height: 70px;
          bottom: 230px;
        }
        @media screen and (max-width: 360px) {
          bottom: 130px;
        }

        > img {
          width: 75px;
          animation: spin 5s linear infinite;
          @keyframes spin {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
          @media screen and (max-width: 768px) {
            width: 40px;
          }
        }
      }

      .redux {
        position: absolute;
        width: 130px;
        height: 130px;
        bottom: 115px;
        left: 485px;
        z-index: 4;
        @media screen and (max-width: 1428px){
          width: 120px;
          height: 120px;
          bottom: 106px;
          left: 395px;
        }
        @media screen and (max-width: 1024px) {
          width: 130px;
          height: 130px;
          right: -10px;
        }
        @media screen and (max-width: 768px) {
          width: 80px;
          height: 80px;
          bottom: 80px;
          right: 0;
        }
        @media screen and (max-width: 360px) {
          bottom: 40px;
          right: -20px;
        }

        > img {
          width: 65px;
          @media screen and (max-width: 768px) {
            width: 40px;
          }
        }
      }

      .typescript {
        position: absolute;
        width: 115px;
        height: 115px;
        top: 260px;
        right: 25px;
        z-index: 2;
        @media screen and (max-width: 1428px){
          width: 105px;
          height: 105px;
          top: 185px;
          right: 35px;
        }
        @media screen and (max-width: 1024px) {
          width: 70px;
          height: 70px;
          top: 130px;
          right: 50px;
        }
        @media screen and (max-width: 768px) {
          top: 120px;
        }
        @media screen and (min-width: 360px) and (max-width: 460px) {
          top: 80px;
          right: 20px;
        }
        @media screen and (max-width: 360px) {
          width: 50px;
          height: 50px;
          top: 70px;
          right: 10px;
        }

        > img {
          width: 55px;
          @media screen and (max-width: 1024px) {
            width: 40px;
          }
          @media screen and (max-width: 768px) {
            width: 35px;
          }
          @media screen and (max-width: 360px) {
            width: 27px;
          }
        }
      }

    }
  }
}