@import "../../common/styles/sass/variables.module";
@import "../../common/styles/sass/mixins.module";

.main {
  background-color: $primaryBgColor;
  color: $primaryTextColor;
  overflow: hidden;
  height: 100vh;
  @include flex(space-between, unset, column);
  @media screen and (max-width: 1312px) {
    height: unset;
  }

  .mainTitle {
    text-align: center;
    margin: 50px 0;
    font-size: 50px;
    @media screen and (max-width: 1600px) {
      margin-top: 20px;
      @media (max-width: 1487px) {
        font-size: 45px;
      }
      @media (max-width: 1366px) {
        margin: 30px 0;
      }
      @media (max-width: 1232px) {
        font-size: 40px;
      }
      @media (max-width: 540px) {
        font-size: 25px;
      }
      @media (max-width: 375px) {
        font-size: 25px;
      }
    }
  }

  .container {
    @include container();
    @include flex(space-between, flex-end, unset);
    @media screen and (max-width: 1147px) {
      width: 90%;
      @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        height: 100%;
      }
    }


    .left {
      width: 65%;
      @include flex(unset, flex-start, column);
      margin-bottom: 250px;
      @media screen and (max-width: 1763px) {
        width: 75%;
        @media (max-width: 1721px) {
          width: 80%;
        }
        @media (max-width: 1440px) {
          margin-bottom: 200px;
        }
        @media (max-width: 1440px) {
          margin-bottom: 150px;
        }
        @media (max-width: 1332px) {
          width: 90%;
        }
        @media (max-width: 1000px) {
          align-items: center;
          margin: 0 auto 30px auto;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
        @media (max-width: 540px) {
          margin: 0 auto 20px auto;
        }
      }

      .subtitle {
        @include text(18px, #000000, unset, 600);
        padding: 10px 20px;
        background-color: $accentColor;
        border-radius: 18px;
        @media screen and (max-width: 540px) {
          font-size: 16px;
        }
      }

      .title {
        @include text(40px, inherit, 1.2);
        padding: 30px 0;
        @media screen and (max-width: 1589px) {
          font-size: 35px;
          @media (max-width: 1487px) {
            font-size: 32px;
          }
          @media (max-width: 1232px) {
            font-size: 27px;
            padding: 20px 0;
          }
          @media (max-width: 540px) {
            font-size: 20px;
          }
          @media (max-width: 375px) {
            font-size: 18px;
          }
        }
      }

      .info {
        @include text(20px, $secondaryTextColor, 1.2);
        @media screen and (max-width: 1232px) {
          font-size: 18px;
          @media (max-width: 540px) {
            font-size: 16px;
          }
        }
      }

      .links {
        margin-top: 30px;
        @include flex(space-between, unset, unset);
        width: 100%;
        @media screen and (max-width: 1000px) {
          justify-content: space-around;
          @media (max-width: 540px) {
            margin-top: 20px;
          }
        }


        a {
          text-decoration: none;
          letter-spacing: 1px;
          @include text(25px, $accentColor);
          text-transform: uppercase;
          background: none;
          outline: none;
          border: none;
          border-bottom: 2px solid $accentColor;
          transition: ease-out 0.3s;
          @media screen and (max-width: 1487px) {
            font-size: 23px;
            @media (max-width: 1232px) {
              font-size: 20px;
            }
            @media (max-width: 375px) {
              font-size: 18px;
            }
          }

          &:hover {
            color: $primaryTextColor;
            border-bottom: 2px solid $primaryTextColor;
          }
        }
      }
    }

    .right {
      position: relative;

      .hero {
        width: 647px;
        height: 775px;
        position: relative;
        z-index: 3;
        background-image: url("../../assets/images/hero.png");
        @include backgroundImg();
        @media screen and (max-width: 1440px) {
          width: 600px;
          height: 718px;
          @media (max-width: 1428px) {
            align-self: flex-end;
            width: 545px;
            height: 650px;
          }
          @media (max-width: 1024px) {
            width: 500px;
            height: 600px;
          }
          @media (max-width: 540px) {
            width: 355px;
            height: 405px;
          }
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 45%;
        left: 51%;
        transform: translate(-50%, -50%);
        background: linear-gradient(
                        135deg,
                        #28292b 20%,
                        #292a2e 40%,
                        #2a2b2f 60%,
                        #2b2c30 80%,
                        #2b2c2e 100%);
        border-radius: 50%;
        height: 600px;
        width: 600px;
        z-index: 0;
        @media screen and (max-width: 1440px) {
          height: 550px;
          width: 550px;
          @media (max-width: 1428px) {
            height: 480px;
            width: 480px;
          }
          @media (max-width: 540px) {
            position: unset;
          }
        }
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 40%;
        right: 0;
        background: $accentColor;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        z-index: 2;
      }

      .circle {
        @include flex(center, center, unset);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $secondaryBgColor;
        filter: drop-shadow(-20px 20px 20px rgba(0, 0, 0, 0.534));
      }

      .react {
        position: absolute;
        width: 140px;
        height: 140px;
        bottom: 375px;
        left: 45px;
        z-index: 4;
        @media screen and (max-width: 1440px) {
          bottom: 347px;
          left: 43px;
          @media (max-width: 1428px) {
            height: 125px;
            width: 125px;
            bottom: 300px;
            left: 40px;
          }
          @media (max-width: 768px) {
            width: 110px;
            height: 110px;
            bottom: 230px;
          }
          @media (max-width: 540px) {
            width: 85px;
            height: 85px;
            bottom: 225px;
            left: 25px;
          }
        }

        > img {
          width: 75px;
          animation: spin 5s linear infinite;
          @media screen and (max-width: 768px) {
            width: 55px;
            @media (max-width: 540px) {
              width: 45px;
            }
          }
        }
      }

      .redux {
        position: absolute;
        width: 130px;
        height: 130px;
        bottom: 115px;
        left: 485px;
        z-index: 4;
        @media screen and (max-width: 1440px) {
          bottom: 76px;
          left: 444px;
          @media (max-width: 1428px) {
            width: 120px;
            height: 120px;
            bottom: 106px;
            left: 395px;
          }
          @media (max-width: 768px) {
            width: 90px;
            height: 90px;
            bottom: 80px;
          }
          @media (max-width: 540px) {
            width: 75px;
            height: 75px;
            left: 255px;
            bottom: 35px;
          }
          @media (max-width: 460px) {
            bottom: 75px;
            left: 245px;
          }
          @media (max-width: 375px) {
            bottom: 120px;
          }
        }

        > img {
          width: 65px;
          @media screen and (max-width: 768px) {
            width: 40px;
            @media (max-width: 540px) {
              width: 35px;
            }
          }
        }
      }

      .typescript {
        position: absolute;
        width: 115px;
        height: 115px;
        top: 260px;
        right: 25px;
        z-index: 2;
        @media (max-width: 1440px) {
          top: 192px;
          right: 42px;
          @media (max-width: 1428px) {
            width: 105px;
            height: 105px;
            top: 185px;
            right: 35px;
          }
          @media (max-width: 768px) {
            width: 80px;
            height: 80px;
            top: 205px;
          }
          @media (max-width: 540px) {
            width: 70px;
            height: 70px;
            top: 125px;
            right: 30px;
          }
        }
        @media screen and (min-width: 360px) and (max-width: 460px) {
          top: 80px;
          right: 20px;
        }

        > img {
          width: 55px;
          @media screen and (max-width: 768px) {
            width: 35px;
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}