.title {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 40px;
  @media screen {
    @media (max-width: 1394px) {
      font-size: 35px;
    }
    @media (max-width: 1280px) {
      margin-bottom: 30px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 20px;
      font-size: 30px;
    }
    @media (max-width: 375px) {
      font-size: 25px;
    }
  }
}