.footer {
  width: 100%;
  background-color: #25262a;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 460px) {
    gap: 3rem;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
  }

  .rights {
    display: flex;
    align-items: baseline;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    @media screen and (max-width: 460px) {
      gap: 2rem;
    }

    .name {
      font-size: 30px;
      padding-right: 30px;

      > span {
        font-weight: 700;
        margin-right: 10px;
      }
    }

    .copyRights {
      color: #9797a1;
    }
  }

  .socials {
    display: flex;
    padding-right: 210px;
    filter: invert(1);
    @media screen and (max-width: 1024px) {
      padding-right: 160px;
    }
    @media screen and (max-width: 460px) {
      flex-wrap: wrap;
      padding-right: 0;
    }

    .socialIcon {
      width: 20px;
      margin-left: 20px;
      cursor: pointer;
      @media screen and (max-width: 460px) {
        margin-left: 0;
        margin-right: 30px;
      }
    }
  }
}