@import "../../common/styles/sass/variables.module";
@import "../../common/styles/sass/mixins.module";

.footer {
  color: #fff;
  background-color: #2d2e32;

  .container {
    @include container();
    padding: 40px 0;
    font-size: 20px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;

    .thanks {
      color: #ee6192;
    }
  }
}