@import "../../common/styles/sass/variables.module";
@import "../../common/styles/sass/mixins.module";

.footer {
  color: $primaryTextColor;
  background-color: #2d2e32;

  .container {
    @include container();
    height: 100px;
    font-size: 20px;
    letter-spacing: 1px;
    @include flex(space-between, center, unset);
    @media screen and (max-width: 999px) {
      font-size: 16px;
      @media (max-width: 540px) {
        justify-content: space-around;
        flex-direction: column;
      }
    }

    .thanks {
      color: $accentColor;
    }
  }
}