@import "../../common/styles/sass/variables.module";
@import "../../common/styles/sass/mixins.module";

.nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 100;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  @include flex(unset, unset, row);
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);

  a {
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    color: $primaryTextColor;
    font-size: 1.1rem;
    transition: ease-out 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .active {
    background-color: rgba(0, 0, 0, 0.3);
    color: $accentColor;
  }
}