@import "../../common/styles/sass/variables.module";
@import "../../common/styles/sass/mixins.module";

.contacts {
  background: #25262a;
  color: $primaryTextColor;
  @media screen and (max-width: 1312px) {
    height: unset;
  }

  .container {
    @include container();
    padding: 60px 0;
    min-height: calc(100vh - 100px);
    @include flex(space-between, unset, column);
    @media screen and (max-width: 1366px) {
      padding: 30px 0;
    }

    .wrapper {
      @include flex(space-around, unset, unset);
      margin-bottom: 100px;
      @media screen and (max-width: 1536px) {
        margin-bottom: 75px;
        @media (max-width: 1366px) {
          margin-bottom: 40px;
        }
        @media (max-width: 1312px) {
          margin-bottom: 0;
          justify-content: space-between;
          margin-top: 35px;
        }
        @media (max-width: 999px) {
          flex-direction: column;
          align-items: center;
          margin-top: 30px;
        }
      }

      .socials {
        @include flex(space-between, unset, column);
        width: 40%;
        @media screen and (max-width: 999px) {
          width: 100%;
        }

        .subtitle {
          font-size: 32px;
          letter-spacing: 1px;
          @media screen and (max-width: 1440px) {
            font-size: 30px;
            @media (max-width: 1366px) {
              font-size: 28px;
            }
            @media (max-width: 1280px) {
              font-size: 26px;
            }
            @media (max-width: 1206px) {
              font-size: 22px;
            }
            @media (max-width: 999px) {
              text-align: center;
            }
            @media (max-width: 503px) {
              font-size: 20px;
            }
          }

          span {
            color: $accentColor;
          }
        }

        .icons {
          width: 100%;
          @include flex(flex-start, unset, unset);
          margin-bottom: 145px;
          @media screen and (max-width: 1206px) {
            margin-bottom: 165px;
            @media (max-width: 999px) {
              justify-content: center;
              margin-top: 30px;
              margin-bottom: 50px;
            }
            @media (max-width: 420px) {
              justify-content: space-between;
            }
          }

          a {
            margin-right: 40px;
            @include text(28px, $primaryTextColor);
            @include flex(center, center, unset);
            transition: ease-out 0.3s;
            @media screen and (min-width: 1010px) and (max-width: 1206px) {
              font-size: 24px;
            }
            @media screen and (max-width: 999px) {
              margin: 0 20px;
              @media (max-width: 420px) {
                margin: 0 10px;
              }
            }

            &:hover {
              transform: scale(1.3);
              color: $accentColor;
            }
          }
        }
      }
    }
  }
}